body {  
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
}

.logo{
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
}
.header {
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   font-weight: 700;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
   border-bottom: 1px solid #e7e9fc;
   box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.span-class {
    color: #2e2f42
}

.krater {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.krater::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
.krater:hover {
    color: #404bbf;
}
.krater:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover {
    color: #404bbf;
}

.address-link:focus {
    color: #404bbf;
}

.img {
    display: block;
}

.section-one {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)
    ),
         url(../images/people-office1.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.header-one {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFF;
    max-width: 496px;
}

.button {
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFF;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
    background-color: #404bbf;
}
.button:focus {
    background-color: #404bbf;
}

.section-two {
padding: 120px 0;
}

.container-div-section-two {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.header-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
    margin-bottom: 8px;
}

.paragraph {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.section-three {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.header-two {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
    margin-bottom: 72px;
}

.item-list-section-three {
    background-color: #FFF;
    width: calc(100%-72px);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-media-list-item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link:hover {
    background-color: #404bbf;
}
.social-media-link:focus {
    background-color: #404bbf;
}
.social-media-icon {
fill: #f4f4fd;
}

.section-four {
    padding-top: 120px;
    padding-bottom: 120px;
}

.list-section-four {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.item-list-section-four {
    width: calc(100%-48px);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-list-section-four:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadov 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-list-section-four:hover .portfolio-text {
    transform: translateY(0%);
}

.portfolio-wrapper {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
    
}

.container-div-section-four {
    position: relative;
    overflow: hidden;
}

.portfolio-text {
    position: absolute;
    top: 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4D5AE5;
    height: 100%;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}

.paragraph-footer {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.header-container {
    display: flex;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav-header {
    display: flex;
    align-items: center;
}

.menu-nav {
    display: flex;
    gap: 40px;

}

.menu-nav-list {
    padding-top: 24px;
    padding-bottom: 24px;
   
}

.address-list {
    display: flex;
    gap: 40px;

}

.advantages-visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list-section-two {
    display: flex;
    gap: 24px;
    padding-left: 0;
    margin: 0;
}

.item-list-section-two{
width: calc((100%-72px)/4);
}

.list-section-tree {
    display: flex;
    gap: 24px;
}

.div-section-tree {
    padding: 32px 0;
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.header-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: inline-block;
    margin-bottom: 16px;
}
.span-footer {
    color: #f4f4fd;
}
.container-div-footer {
    display: flex;
    align-items: baseline;
}
.footer-content {
margin-right: 120px;
}

.social-media-footer {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.social-media-list-footer {
    display: flex;
    gap: 16px;
}

.social-media-list-item-footer {
    width: 40px;
    height: 40px;
}
.social-media-link-footer {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link-footer:hover {
background-color: #31d0aa;
}
.social-media-link-footer:focus {
    background-color: #31d0aa;
}
.social-media-icon {
    fill:#f4f4fd;
}